{% extends "ucm/basen.html" %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="pt-3 pb-3">
  <div class="container"> <!-- CONTAINER-1 -->
    <!-- Main content -->
    <div class="row  d-flex justify-content-center text-center">
      <div class="col-xl-5 col-lg-5 col-md-12 col-12">
        <div class="py-6">
          <img src="{% static 'ucm/assets/images/svg/path-img.svg'%}" alt="" class="img-fluid">
          <div class="mt-4 ">
            <h2 class="display-4 font-weight-bold">Coming Soon</h2>
            <p class="mb-5">The designer working on our design so for now we schedule it
              to come soon.
              we release it soon for you. Thank you for watching.</p>
            <a href="{% url 'ucm:home' %}" class="btn btn-primary">
              Back To Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End of Main Content-->
{% endblock %}