{% load static %}
{% load ucm_extras %}
<div class="divSticky">
  <div class="sticky-top">
      <!-- Side navabar -->
      <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
        <!-- Menu -->
        <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
        <!-- Button -->
        <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
            data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fe fe-menu"></span>
        </button>
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="sidenav">
            <div class="navbar-nav flex-column">
                <!-- Navbar header -->
                <span class="navbar-header">Dashboard</span>
                <ul class="list-unstyled ml-n2 mb-4">
                    <!-- Nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ucm:member_dashboard'%}">
                            <i class="fe fe-home nav-icon"></i>My Dashboard</a>
                    </li>
                    <!-- Nav item -->
                    <li class="nav-item {% iif context.ptitle 'Member Topics' 'active' %}">
                        <a class="nav-link" href="{% url 'ucm:member_topic'%}">
                            <i class="fe fe-settings nav-icon"></i>My Topics</a>                                    
                    </li>
                    <!-- Nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ucm:member_network' %}">
                            <i class="fe fe-users nav-icon"></i>My Network</a>
                    </li>
                </ul>
                <!-- Navbar header -->
                <span class="navbar-header">Account Settings</span>
                <ul class="list-unstyled ml-n2 mb-0">
                    <!-- Nav item -->
                    <li class="nav-item {% iif context.ptitle 'Member Profile' 'active' %}">
                        <a class="nav-link" href="{% url 'ucm:member_profile'%}">
                            <i class="fe fe-settings nav-icon"></i>Profile</a>
                    </li>
                    <!-- Nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ucm:member_messaging' %}">
                            <i class="fe fe-bell nav-icon"></i>Notifications</a>
                    </li>
                    <!-- Nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'uauth:signout' %}">
                            <i class="fe fe-power nav-icon"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


  </div> <!-- End of left side navigation menu-->
</div>