{% extends "uauth/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load ucm_extras %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
<div class="jumbotron">
  {% for val in note %}
    {% if val.ntype == "title" %}
      <h1 class="display-6">
        {{val.ndata}}:-
        [{{userNote.id}}/{{userNote.usernotem.id}}/{{userNote.usernotem.currdeck}}]
      </h1>
    {% elif val.ntype == "text" %}
      <p class="text-break fs-1">{{ val.ndata }}
        {% if val.audio %}        
        <input 
          onclick="audioPlay('{{request.scheme}}://{{request.META.HTTP_HOST}}{% static val.audio %}');"
          type='button' value='🔊 Play' />
        {% endif %}          
      </p>
    {% elif val.ntype == "example" %}
      <p class="text-break fs-1">{{ val.ndata }}
        {% if val.audio %}
          <input onclick="audioPlay('{{request.scheme}}://{{request.META.HTTP_HOST}}{% static val.audio %}');" type='button' value='🔊 Play' />
        {% endif %}
      </p>
    {% elif val.ntype == "image" %}
      <img src="{% static val.ndata %}" width="300" height="300" 
        class="d-inline-block align-top rounded mx-auto" alt="ToDoApp" loading="lazy"/>
      <br><br>
    {% elif val.ntype == "url" %}
      <a href="{{ val.ndata }}" target="_new">{{val.ndata}}</a><br>
    {% else %}
    {% endif %}
    {% if forloop.first %}
      {% if val.audio %}
        <input class="btn btn-success" 
          onclick="audioPlay('{{request.scheme}}://{{request.META.HTTP_HOST}}{% static val.audio %}');" 
          type='button' value='🔊 Play' />
      {% endif %}
      <button type="button" class="btn btn-primary" name="flip_card" 
        onclick="window.divCollapse(this,'#myCollapsible');">Show Contents</button>
<!--
      { % else % }
        <h1 class="display-6">Title not available</h1>
      { % endif % }
-->
<!--  Progress bar commented
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="min-width: 20px;"></div>
      </div>
-->
      <hr class="my-4">
  <div id="myCollapsible" class="collapse">
    {% endif %}

    {% if forloop.last %}
      <br>
      <form name="form1" method="post" action="{% url 'ucm:review' %}">
        {% csrf_token %} 
        <input type="hidden" value="{{ note.0.id }}/{{ note.0.notem_id }}/{{userNote.id}}" name="ritem"/>
        <input type="hidden" value="{{userNote.id}}" name="usernoteid"/>
        <button type="submit" class="btn btn-primary" name="r_0">Repeat</button>
        <button type="submit" class="btn btn-primary" name="r_1">Good</button>
        <button type="submit" class="btn btn-primary" name="r_2">Easy</button>
      </form>

<br> 

<div class="container" style="background-color: #e9ecef;">
  {% for rl in reviewLog.all %}
  {% if forloop.first %}
    <P>{{ reviewLog.count|expluralize:'Review Log' }}</P>
  {% endif %}
    <b>{{ rl.added_user }}</b> on {{ rl.cdate }}<br>
    <P>{{ rl.notes }}</P>
  {% empty %}
    <P>No notes for this card</P>
  {% endfor %}
  {% crispy formReviewLog %} <br>
  <div id='form-errors'>{{ formNote.errors }}</div>  
</div>

    {% endif %}

  {% empty %}
    {% if flag == "learn_more" %}
      <p class="text-break fs-1">
        You have completed your normal learning target for today [{{ topic }}].
      </p>
      <p class="text-break fs-1">Would you like to continue learning more now?</p>
      <form name="form1" method="post" action="{% url 'ucm:more' %}">
        {% csrf_token %} 
        <input type="hidden" value="{{ topic }}" name="ritem"/>
        <button type="submit" class="btn btn-primary" name="learn_more" value='Yes'>Yes</button>
        <a class="btn btn-outline-primary" href="{% url 'ucm:home' %}">No</a>
      </form>      
    {% endif %}

    {% if flag == "no_more" %}
      <p class="text-break fs-1">Your topic has no more cards left to learn. Either all the notes
          of this topic is matured or none eligible for study [{{ topic }}].</p>
      <a class="btn btn-primary" href="{% url 'ucm:home' %}">Ok</a>
    {% endif %}      
  {% endfor %}
  </div>
</div>
</div>
<script type="text/javascript">
    var i = 0;
    function makeProgress(){
        if(i < 50) {
            i = i + 2;
            $(".progress-bar").css("width", (i+2) + "%").text(i + " %");
            setTimeout("makeProgress()", 25);
        } else {
            $(".progress-bar").attr("class", "progress-bar progress-bar-striped");
            $('#myCollapsible').collapse()
//            $('#myCollapsible').collapse({toggle: true})
        }
    }
//    makeProgress();
</script>

<script>
  function divCollapse(btn, nname) {
    if ($(btn).text () == "Hide Contents") {
      $(btn).text("Show Contents");
    } else {
      $(btn).text("Hide Contents");
    }
    $(nname).collapse('toggle')
  }
</script>

<script>
  var audio = null;

  function audioInit (url) {
    audio = new Audio(url);  
  }

  function audioPlay (url) {
    audioInit (url);
    audio.play();
  }

  function AudioPause () {
      audio.pause();
  }

  function AudioCancel () {
      audio.pause();
      audio.currentTime = 0;
      audio = null;
  }

</script>

{% endblock %}
<!--      {% render_field val class="form-control" %} -->


<!-- Progress bar HTML -->

    
