{% extends "ucm/basen.html" %}
{% load static %}
{% block content %}
<div class="container d-flex flex-column">
	<div class="row align-items-center justify-content-center no-gutters">
		<div class="col-lg-5 col-md-8 py-8 py-xl-8"> 
			<!-- Card -->
			<div class="card shadow">
				<!-- Card body -->
				<div class="card-body p-6">
					<div class="mb-4">
						<a href="{% url 'ucm:home' %}"><img src="{% static 'ucm/img/ucm/ucmlogo-small.jpg'%}" class="mb-4" alt=""></a>
						<h3 class="mb-3">Hi {{context.first_name}},</h3>
						{% for message in context.message %}     
							<p>{{ message }}</p>
					   {% endfor %}
					</div>
					<div class="mb-0">
						{% if context.action %}
							<a class="btn btn-primary btn-block" href="{{context.actionurl}}">{{context.action}}</a>
						{% else %}
							<a class="btn btn-primary btn-block" href="{% url 'ucm:home' %}">Visit UCMem Home Page</a>
						{% endif %}
					</div>			
			
				</div>
			</div>

			
		</div>
	</div>
</div>
{% endblock %}